# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs/CS480FinalProject/v17/ipch/AutoPCH/28c84db89649b0de/ENGINE.ipch
/.vs/CS480FinalProject/v17/ipch/AutoPCH/8de061d31fe41ad/MAIN.ipch
/.vs/CS480FinalProject/FileContentIndex/ecaa3d6e-ef9e-4a55-b3db-805ceddd788a.vsidx
/.vs/CS480FinalProject/v17/.suo
/.vs/CS480FinalProject/v17/Browse.VC.db
/.vs/CS480FinalProject/v17/Browse.VC.db-shm
/.vs/CS480FinalProject/v17/Browse.VC.db-wal
/.vs/CS480FinalProject/v17/Browse.VC.opendb
/.vs/CS480FinalProject/v17/DocumentLayout.backup.json
/.vs/CS480FinalProject/v17/DocumentLayout.json
/.vs/CS480FinalProject/v17/fileList.bin
/.vs/CS480FinalProject/v17/Solution.VC.db
/.vs/CS480FinalProject/v17/ipch/AutoPCH/625181cccbbe00af/CAMERA.ipch
/.vs/CS480FinalProject/FileContentIndex/2b2dce05-797b-492e-8077-4f5997d4948a.vsidx
/.vs/CS480FinalProject/FileContentIndex/465efe1f-9c9f-47c5-ab35-626c69273100.vsidx
/.vs/CS480FinalProject/FileContentIndex/8939c8f7-68e2-4107-8fb1-44b0809a8447.vsidx
/.vs/CS480FinalProject/v17/ipch/AutoPCH/619154e9b38cb139/GRAPHICS.ipch
/.vs/CS480FinalProject/v17/ipch/AutoPCH/69e01ab81e65f951/SHADER.ipch
/.vs/CS480FinalProject/v17/ipch/AutoPCH/bd9279b54f714579/MESH.ipch
/.vs/CS480FinalProject/FileContentIndex/6cb2c6f8-51a7-4c1e-8b98-0385bc52d349.vsidx
/.vs/CS480FinalProject/v17/ipch/AutoPCH/e4d75837b37b408d/TEXTURE.ipch
/.vs/CS480FinalProject/v17/ipch/AutoPCH/f04134cff494781/SPHERE.ipch
/.vs/CS480FinalProject/v17/ipch/AutoPCH/9011dcd578aded8e/LIGHT.ipch
